{% block reward %}
<div class="reward" id="reward">
  <div class="liker">
	<div class="liker-canvas">
		<canvas class="hearts-canvas"></canvas>
	</div>
	<p>{{ theme.reward.comment }}</p>
  	<button id="reward-button" class="btn" disable="enable">
  	    <i class="fas fa-heart"></i>
  	</button>
  	<span>{{ __("reward.button") }}</span>
  </div>
  <div id="qr" class="qr" style="display: none;" aria-hidden="true">
    {% if theme.reward.wechatpay_qrcode %}
    <div id="wechat">
      <img id="wechat_qr" src="{{ url_for(theme.reward.wechatpay_qrcode) }}" alt="{{ __("reward.wechatpay") }}"/>
      <span>{{ __("reward.wechatpay") }}</span>
    </div>
    {% endif %}
    {% if theme.reward.alipay_qrcode %}
    <div id="alipay">
      <img id="alipay_qr" src="{{ url_for(theme.reward.alipay_qrcode) }}" alt="{{ __("reward.alipay") }}"/>
      <span>{{ __("reward.alipay") }}</span>
    </div>
    {% endif %}
    {% if theme.reward.bitcoin_qrcode %}
    <div id="bitcoin">
      <img id="bitcoin_qr" src="{{ url_for(theme.reward.bitcoin_qrcode) }}" alt="{{ __("reward.bitcoin") }}"/>
      <span>{{ __("reward.bitcoin") }}</span>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
