@import "variables"
@import "nib";
.reward {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 90%;
  //height 10em;
  text-align: center;
  color: $color-reward-font;

  .qr {
    text-align: center;
    //position: absolute;

    div {
      padding: 0.5em;
      display: inline-block;

      img {
        width: 10em;
        display: inline-block;
      }

      span {
        display: block;
      }
    }
  }

  .liker {
    position: relative;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0%);

	.liker-canvas {
	position: absolute;
	width: 90%;
	margin: 0 5%;
	top: -23em;
	}

    span {
      font-family: monospace;
      color: #F92A82;
	  margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
    }

    .btn {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border-radius: 50%;
      border: none;
	  margin: 0 50%;
      cursor: pointer;
      transform: translate(-50%, -10%);
      background-color: #FF4D80;
      color: #fff;
      outline: none;
      transition: 0.3s ease;
      box-shadow: 0 3px 10px #F92A82;
    }
  }
}